@model WebApplication2.Models.Recipes

@{
    ViewBag.Title = "Delete";
    var Category = (IEnumerable<WebApplication2.Models.Category>)ViewBag.Category;
    var Users = (IEnumerable<WebApplication2.Models.AspNetUsers>)ViewBag.Users;
}

<h2>Usuwanie przepisu </h2>

<h3>Jesteś pewnien że chcesz usunać poniższy przepis?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt style="font-size:22px">
            @Html.DisplayName("Tytuł")
        </dt>

        <dd style="font-size:22px">
            @Html.DisplayFor(model => model.title)
        </dd>

        <dt>
            @Html.DisplayName("Autor")
        </dt>

        <dd>
            @Html.DisplayName(Users.Where(a => a.Id == Model.user_ID).ElementAt(0).UserName)
        </dd>

        <dt>
            @Html.DisplayName("Kategoria")
        </dt>

        <dd>
            @Html.DisplayName(Category.Where(a => a.category_ID == Model.cateogry_ID).ElementAt(0).category_name)
        </dd>

        <dt>
            @Html.DisplayName("Poziom trudności")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.difficulty)/10
        </dd>

        <dt>
            @Html.DisplayName("Czas przygotowania")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.time) min
        </dd>
        <dt>
            @Html.DisplayName("Data dodania")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.recipe_date)
        </dd>
        <dt>
            @Html.DisplayName("Zdjęcie")
        </dt>

        <dd>
            @{
                var base64 = Convert.ToBase64String(Model.picture);
                var imgsrc = string.Format("data:image/gif;base64,{0}", base64);
            }
            <img src='@imgsrc' style="max-height:70px;" />
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Usuń" class="btn btn-default" /> |
            @Html.ActionLink("Powrót do listy", "YourRecView")
        </div>
    }
</div>
