@model IEnumerable<WebApplication2.Models.Recipes>
@{
    ViewBag.Title = "MemberView";
    var Category = (IEnumerable<WebApplication2.Models.Category>)ViewBag.Category;
    var Users = (IEnumerable<WebApplication2.Models.AspNetUsers>)ViewBag.Users;
}

<h2>MemberView</h2>

<p>
    @Html.ActionLink("Dodaj przepis", "AddRecView", "Member")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.recipe_ID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.user_ID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.cateogry_ID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.difficulty)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.time)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.recipe_content)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.recipe_date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.comment_ID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.picture)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.recipe_ID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => Users.Where(a => a.Id == item.user_ID).ElementAt(0).UserName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => Category.Where(a => a.category_ID == item.cateogry_ID).ElementAt(0).category_name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.difficulty)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.time)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.recipe_content)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.recipe_date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.comment_ID)
        </td>
        <td>
            @{ 
                var base64 = Convert.ToBase64String(item.picture);
                var imgsrc = string.Format("data:image/gif;base64,{0}", base64);
            }
            <img src='@imgsrc' style="max-width:100px;"/>
        </td>
    </tr>
}

</table>
