@model IEnumerable<WebApplication2.Models.Recipes>

@{
    ViewBag.Title = "YourRecView";
}

<h2>Twoje przepisy</h2>

<h3>Zarządzaj swoimi przepisami</h3>
<div>
    <hr />
    <table class="table">
        <tr>
            <th>
                @Html.DisplayName("Tytuł")
            </th>
            <th>
                @Html.DisplayName("Kategoria")
            </th>
            <th>
                @Html.DisplayName("Poziom trudności")
            </th>
            <th>
                @Html.DisplayName("Czas przygotowania")
            </th>
            <th>
                @Html.DisplayName("Data dodania")
            </th>
            <th>
                @Html.DisplayName("Zdjęcie")
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td style="font-size:18px">
                    @Html.DisplayFor(modelItem => item.title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.cateogry_ID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.difficulty)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.time)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.recipe_date)
                </td>
                <td>
                    @{
                        var base64 = Convert.ToBase64String(item.picture);
                        var imgsrc = string.Format("data:image/gif;base64,{0}", base64);
                    }
                    <img src='@imgsrc' style="max-height:70px;" />
                </td>
                <td>
                    @Html.ActionLink("Edytuj", "Edit", new { id = item.recipe_ID }) |
                    @Html.ActionLink("Usuń", "Delete", new { id = item.recipe_ID }, FormMethod.Post)
                </td>
            </tr>
        }

    </table>



</div>
