@model IEnumerable<WebApplication2.Models.Recipes>

@{
    ViewBag.Title = "YourRecView";
}

<h2>YourRecView</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Recipes</h4>
    <hr />
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.user_ID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.cateogry_ID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.difficulty)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.time)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.recipe_content)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.recipe_date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.comment_ID)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.user_ID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.cateogry_ID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.difficulty)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.time)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.recipe_content)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.recipe_date)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.comment_ID)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.recipe_ID }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.recipe_ID }, FormMethod.Post)
                </td>
            </tr>
        }

    </table>



</div>
